html {
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

h1 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.name {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    color: #F68821;
}

h2 {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    color: #F68821; 
}

.inline-block {
    display: inline;
    vertical-align: top;
    justify-content: space-around;
    float: right;
}

nav ul {
    display: flex;
    width: 100%;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
    float: right;
}

.logo {
    width: 5%;
    padding: 1%;
    float: left;
}

button {
    background-color: #F68821;
    color: white;
    padding: 11px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

button:hover {
    background-color: #ADC03D;
}

.heroImg {
    height: 400px;
    padding: 10%;
}

.heroImg img {
    width: 500px;
    float: right;
    vertical-align: top;
}

h2 {
    color: #F68821;
}

li {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

li:hover {
    color: #ADC03D;
    text-decoration: underline;
}

.content {
    width: 490px;
    margin: 0 auto;
    float: left;
    margin-bottom: 50px;
}

#selectedWork {
    padding: 25px;
}

.projects {
    display: grid;
    margin-top: 40px;
    grid-template-rows: 500px 500px;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 40px;
    grid-template-areas: 
    "projectOne projectTwo"
    "projectThree projectFour"
    ;
}

.projects img {
    width: 500px;
}

#contact {
    padding: 25px;
}

#email {
    color: #F68821;
    text-decoration: underline;
    font-weight: bold;
}

footer {
    display: flex;
    padding: 25px;
    text-align: center;
    align-content: center;
    justify-content: space-between;
}

footer ul {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.btn2 {
    background-color: transparent;
    stroke: white;
    outline: 1px;
}

@media only screen and (max-width: 600px) {

    .projects {
        display: grid;
        grid-template-rows: 500px 500px 500px 500px;
        grid-template-columns: 1fr;
        grid-row-gap: 25px;
        grid-template-areas: 
        "projectOne"
        "projectTwo"
        "projectThree"
        "projectFour"
        ;
    }
  }